/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


-----------------start---------------------
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.eot');
    src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold-webfont.woff') format('woff'),
         url('raleway-bold-webfont.ttf') format('truetype'),
         url('raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berliner_frakturregular';
    src: url('resistenza_-_berliner_fraktur-webfont.eot');
    src: url('resistenza_-_berliner_fraktur-webfont.eot?#iefix') format('embedded-opentype'),
         url('resistenza_-_berliner_fraktur-webfont.woff') format('woff'),
         url('resistenza_-_berliner_fraktur-webfont.ttf') format('truetype'),
         url('resistenza_-_berliner_fraktur-webfont.svg#berliner_frakturregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displayitalic';
    src: url('playfairdisplay-italic-webfont.eot');
    src: url('playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('playfairdisplay-italic-webfont.woff') format('woff'),
         url('playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0%; 
  left: 0%; 
  right: 0%; 
  bottom: 0%; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


header {text-decoration: none;}

#banner {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  max-height: auto;
}





nav{
  
    list-style:none;
    margin-left:10%; 
    margin-right:10%;
    padding-top:1em;
    padding-bottom:1em;
    text-align:center;
    font-family: berliner_frakturregular;
    font-size: 1.5em;
    text-decoration: none;

  }
.nav li{
    display:inline;
  padding:0;

}
.nav a{
    display:inline-block;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
color: black;
}


#selected {text-shadow: 0px 2px 10px #666;
}



#albumart {
  float: left;
  margin-left: 10%;
  max-width:35%; 
  
}



.illumi {float: right;
margin-right: 10%;
padding-left: 5%;

width: 35%;
font-family: raleway;
  }

.illumi li {font-family: raleway;
  padding-top: .25em;
  font-weight: regular;
  font-size: 2em;
}

h1 {font-family: raleway;
font-weight: bold;
font-size: 3em;
 }
 
#shows {float: left;
margin-right: 10%;
padding-left: 10%;
font-family: raleway;
  padding-top: 2em;
  font-weight: regular;
  font-size: 1.5em;}

#contact {float: left;
margin-right: 10%;
padding-left: 10%;
font-family: raleway;
  padding-top: 2em;
  font-weight: regular;
  font-size: 1.5em;}

  #ronin {float: left;
margin-right: 10%;
padding-left: 10%;
font-family: raleway;
  padding-top: 2em;
  font-weight: regular;
  font-size: 1.5em;}









 h2 {
   font-family: playfair_displayitalic;
   font-size: 1.5em;
   padding-bottom: 1em;
 }

 
      a { color: #888; text-decoration: none; }
      #wrapper { width: 35%;  }
      
      ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: .5em; }
      ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
      ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
      li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
      li.playing a { color: #000; }
li.playing:before { width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
      
      
      

 



